---
---

<section class="mb-8">
  <div class="mb-6">
    <h1 class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden">
      <span class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"> Wuriqilang's MageTower</span>
    </h1>
  </div>
  <div>
    <p>我是一名魔法师🧙🏻,我正在使用一种被称为 🪄 "代码"的语言作为咒语.</p>
    <p class="mb-5">很高兴你发现这座藏在网络深处的法师塔. 好了,让我们吟唱一段简单的咒语吧.🧿</p>
    <p class="codepen text-center whitespace-nowrap overflow-auto" data-height="500" data-default-tab="result" data-user="Craaftx" data-slug-hash="ExyYRMK" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
    <script async defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  </div>
</section>
